<div class="titles">
<h1>Product Detailes</h1>
<h2>{{product.name}}</h2>
</div>

<kendo-grid
>

    <kendo-grid-column title="Product Id"  field="id"></kendo-grid-column>
    <kendo-grid-column title="Category" field="category"></kendo-grid-column>
    <kendo-grid-column title="Discontinued" field="discontinued"></kendo-grid-column>
    <kendo-grid-column title="Units In Stock" field="UnitsInStock"></kendo-grid-column>
    <kendo-grid-column title="Created At" field="createdAt"></kendo-grid-column>
    <kendo-grid-column title="Supplier Id" field="SupplierID"></kendo-grid-column>
    <kendo-grid-column title="Price" field="price"></kendo-grid-column>

</kendo-grid>
